.container {
    width: 90%;
    background-color: gray;

    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: cursive;
}

.header {
    display: flex;
    justify-content: space-between;
}

.charLength {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.charLength > span {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: aquamarine;
    border-radius: 20px;
    border: none;
    padding: 5px 12px;
}

.generate-btn {
    margin-top: 20px;
}